html,body {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width:100%;
    height:auto;
}
a:link, a:visited {
    color: #465022;
    text-decoration: none;
}
a:hover {
    color: #465022;
    text-decoration: underline;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #090909;
}
.pagination {
    margin: 10px 0;
}
.pagination > li > a, .pagination > li > span {
    padding: 2px 10px;
    margin-left: -1px;
    line-height: 1.6;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #465022;
    border-color: #6f8534;
}
.container:before, .container:after {
    display: none;
}
#fb-like {
    width:50%;
}

@media only screen and (max-width: 570px) {
    #logobar{
        display:flex; 
        flex-flow: column wrap; 
        justify-content:center; 
        align-items:center;
    }
    #logo-icon{
        width: 60%;
    }
    #social-icons{
        width: 30%;
        margin-top: 20px;
    }
}
@media only screen and (min-width: 570px) {
    #logobar{
        display:flex; 
        flex-flow: row wrap; 
        justify-content:space-between; 
        align-items:center;
    }
    #logo-icon{
        flex:0 1 50%; align-self:center;
    }
    #social-icons{
        flex:0 1 25%; align-self:center;
    }
}
@media only screen and (min-width: 768px) {
    #logobar{
        display:flex; 
        flex-flow: row wrap; 
        justify-content:space-between; 
        align-items:center;
    }
    #logo-icon{
        flex:0 1 40%; align-self:center;
    }
    #social-icons{
        flex:0 1 20%; align-self:center;
    }
}
@media only screen and (min-width: 992px) {
    #logobar{
        display:flex; 
        flex-flow: row wrap; 
        justify-content:space-between; 
        align-items:center;
    }
    #logo-icon{
        flex:0 1 30%; align-self:center;
    }
    #social-icons{
        flex:0 1 15%; align-self:center;
    }
}
@media only screen and (min-width: 1200px) {
    #logobar{
        display:flex; 
        flex-flow: row wrap; 
        justify-content:space-between; 
        align-items:center;
    }
    #logo-icon{
        flex:0 1 20%; align-self:center;
    }
    #social-icons{
        flex:0 1 10%; align-self:center;
    }
}