html,body {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width:100%;
    height:auto;
}
a:link, a:visited {
    color: #465022;
    text-decoration: none;
}
a:hover {
    color: #465022;
    text-decoration: underline;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #090909;
}
.pagination {
    margin: 10px 0;
}
.pagination > li > a, .pagination > li > span {
    padding: 2px 10px;
    margin-left: -1px;
    line-height: 1.6;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #465022;
    border-color: #6f8534;
}
#fb-like {
    width:50%;
}